*.pq
*.svg
!train_split_remove_duplicates_molformer.pkl
!valid_split_remove_duplicates_molformer.pkl
/models
/scripts/wandb
*.pkl
data/enveda_chemist_preprocessed.pkl
data/enveda_chemist_preprocessed.pkl
*.pkl
